*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: blueviolet;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: azure;
    height: 200px;
}

header ul {
    background-color: rgba(0, 255, 255, 0.301);
    padding: 0;
    list-style-type: none;
    margin: auto auto 0 auto;
}

header ul li {
    display: inline-block;
    
}

ul li a {
    font-size: 3rem;
    text-decoration: none;
    color: black;
    padding: 0 2rem;
}

main {
    flex-grow: 1;
    width: 1140px;
    margin: 0 auto;
    background-color: azure;
    height: fit-content;
}

#starttitle {
    text-align: center;
}

.imageholder {
    text-align: center;
}